html, body, .container {
    height: 100%;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.div-block-4 {
    font-size: 3.5em;
}

.div-block-21 {
    max-width: 650px;
}